:root {
    --color-white: #ffffff;
    --color-light-yellow: #fdfce5;
    --color-light-sand: #f9f3df;
    --color-yellow: #f4d19b;
    --color-bookmark-shadow: #ced2d8;
    --color-bookmars-background: #f8f9fa;
    --color-cancel-btn: #ff5c58;
    --color-submit-btn: #42b8dd;
    --colorOne: #48B2E7;
    --colorTwo: #ADD8E6;
    --colorThree: #F7E590;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.app-container {
    width: 100%;
    height: 100%;
}
/* -------------------------------------- TOP-BAR-------------------------- */
/* WRAPPER OF TOP-BAR(BOOKIT/METRICS/CREATE-BOOKMARK) */
.top-section--wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--color-light-yellow);
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}
.bookmark--logo {
    flex: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.image-logo-top-section {
    border-radius: 25px;
}
/*------------------ TOP-BAR WITH BOOKIT/METRICS/CREATE-BOOKMARK/LOGOUT ------*/
.top_navbar {
    flex: 80%;
    display: flex;
    justify-content: space-between;
}

.top-navbar-links {
    border: 2px solid var(--color-yellow);
    background-color: var(--color-yellow);
    color: var(--color-white);
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.logo-btn-navbar--link {
    margin: 25px;
    font-size: 18px;
}

/* ------------------------------- TAGs-FILTERS && USER ARTICLES ----------- */
/* CONTAINER WITH USER ARTICLES AND TAG FILTERS */
.main-user-article--container {
    height: 100%;
    margin: 5px;
    display: flex;
    border: 2px solid var(--color-light-yellow);
}
/* LEFT SIDE OF USER ARTICLE CONTAINER WHICH IS TAG FILTER SIDE-BAR */
.left-side--user-article-container {
    height: 100%;
    flex: 15%;
    padding: 5px;
}
/* RIGHT SIDE OF USER ARTICLE CONTAINER WHICH IS ALL USER ARTICLES */
.sidebar-tags-selector-div {
    text-align: center;
}
.right-side--user-article-container {
    height: 100%;
    flex: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 3px;
    background-color: var(--color-bookmars-background);
}

/* ----------------------------------- TAG SELECTOR ---------------------- */
.tag-filter--form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-left: 5px;
}
.text--tag-filter--form {
    /* text-transform: uppercase; */
    font-size: 13px;
}

/* --------------------------------------USER ARTICLES ----------------*/
.user-articles-total--username-div {
    display: flex;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
}
.display-articles--container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.user-articles--display-view {
  border: 2px solid black;
  color: black;
  width: 120px;
  margin: 5px;
}

.user-articles--share-list {
  border: 2px solid black;
  color: black;
  width: 120px;
  margin: 5px;
}

.footer-btns--main-user-article--container {
    margin: 10px;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}

.show-table-view-btn {
    margin-right: 5px;
}

/* --------------------------------------SINGLE ARTICLE ----------------*/
.single-article--container {
    border-radius: 6px;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 10px 8px var(--color-bookmark-shadow);
    background-color: var(--color-white);
}

.title-delete--single-article--container,
.footer--single-article--container {
    position: relative;
}
.bold--single-article--container {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.delete-btn--single-article {
    color: var(--color-white);
    background-color: var(--color-cancel-btn);
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 11px;
    text-transform: uppercase;
}
.read-btn--single-article {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: var(--color-white);
    background-color: var(--color-yellow);
    text-transform: uppercase;
    font-size: 11px;
}

/* ------------------------------ BTNS ------------------------------------- */
.tabViewButton,
.shareButton {
  background-color: #f4d19b;
  /* border-radius: 1px; */
}

/* ----------------------------------LOGOUT -------------------------------- */
.log-out-btn-container {
  display: flex;
  justify-content: center;
  align-self: center;
}
.log-out-btn {
  /* border: 2px solid black; */
  background-color: #f9f3df;
  border-radius: 5px;
  height: 40px;
}
/* ----------------------------------TABLE VIEW -------------------------------- */

.table-header {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: 25px;
}

.table-container {
  justify-content: center;
  align-self: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* padding: 10px; */
}

.table-btn-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 3%;
}
.table-btn {
  display: flex;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 18px;
  color: #3a4246;
  background-color: #dafdff;
  border-radius: 5px;
  border: 1px solid black;
}
/* ----------------------------------ADD MESSAGE VIEW -------------------------------- */

.msg-header {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: 25px;
  margin-top: 3%;
}

.msg-input-container {
  display: flex;
  width: 100%;
  height: 30%;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.msg-input {
  /* flex: 1; */
  display: block;
  border: 1px solid black;
  background-color: #fdfce5;
  width: 30%;
  height: 100%;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.msg-add-btn-container {
  display: flex;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.msg-add-btn {
  display: flex;
  align-self: center;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 18px;
  color: #3a4246;
  background-color: #dafdff;
  border-radius: 5px;
  border: 1px solid black;
}

.msg-skip-btn-container {
  display: block;
  position: relative;
  width: auto;
  text-align: right;
  align-self: right;
  align-items: right;
  justify-content: right;
  margin-right: 5%;
  margin-top: 5%;
}

.msg-skip-btn {
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 18px;
  color: #3a4246;
  background-color: #f7e590;
  border-radius: 5px;
  border: 1px solid black;
}

/* ----------------------------------GENERATE LINK VIEW -------------------------------- */

.link-generate-btn-container {
  display: flex;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  margin-top: 5%;
}

.link-generate-btn {
  display: flex;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 18px;
  color: #3a4246;
  background-color: #f7e590;
  border-radius: 5px;
  border: 1px solid black;
}

.link-area {
  display: block;
  position: relative;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-size: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
  /* line-height: 18px; */
  color: #3a4246;
  background-color: #fdfce5;
  border-radius: 5px;
  /* border: 1px solid black; */
  margin-top: 3%;
}

/* ----------------------------------VIEW SHARED ITEMS-------------------------------- */

.shared-msg-area {
  display: block;
  white-space: pre-wrap;
  position: relative;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: #3a4246;
  background-color: #fdfce5;
  border-radius: 5px;
}

.button-error,
.button-secondary,
.button-warning {
    color: var(--color-white);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: none;
}
.button-secondary {
    background: var(--color-submit-btn);
    text-transform: uppercase;
    font-size: 14px;
}

/* ------------------------ CREATE BOOKMARK  -------------------------------- */
.create-new-article-component {
    text-align: center;
}
.btns--create-new-article {
    margin: 4px;
}

/* ---------------- LOGIN SIGN-UP CONTAINER WHEN USER LOG-IN OR SIGN UP---- */
.login-page-container {
    border: 2px solid var(--color-light-sand);
    text-align: center;
    padding-bottom: 150px;
    margin-bottom: 10px;
}
.login-signup-container {
    /* color: var(--color-white); */
    background-color: var(--color-light-sand);
    display: flex;
    justify-content: center;
    padding: 5px;
}
.login-signup-container--right {
    color: var(--color-white);
    border: 2px solid var(--color-yellow);
    background-color: var(--color-light-sand);
    border-radius: 5px;
    margin-left: 5px;
}
.login-signup-container--left {
    color: var(--color-white);
    border: 2px solid var(--color-yellow);
    background-color: var(--color-light-sand);
    border-radius: 5px;
}
/* -------------------------------------- FOOTER ----------------------------*/
.footer {
    margin: 5px;
    padding: 10px;
    background-color: var(--color-light-sand);
    border-radius: 4px;
    height: 100px;
    margin-top: -1px;
}

/* -----DROPBOX----------- */
.css-1pcexqc-container {
    width: 280px;
}
/* .css-1pcexqc-container */
.css-1jllj6i-control {
    width: 200px;
    height: 50px;
}

.css-1hwfws3 {
    /* width: 100px; */
    /* height: 40px; */
}

/* ----------------------------------DATAVIZ -------------------------------- */

.dvSectionHeader{
    display: flex;
    background-color: #ADD8E6;
    height: 70px;
    margin: 0;
    padding: 10;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.dataviz-box {
    display: flex;
    border: 1px solid black;
    max-width: 80%;
    flex-direction: column;
    min-width: 500px;
    margin: 10px;
    border-radius: 10px;
}

.dataviz-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    min-width: 300px;
    max-width: 95%
}

tbody{
    display:block;
    overflow:auto;
    height:200px;
    max-width: 800px;
    min-width: 200px;
    border: 1px solid black;
}

tr{
    display:block;
    text-align: left;
    border: 1px solid black;
    }
.highlight{
    color: #48B2E7;
}

 .articlerow{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.articledetails{
    display: flex;
    flex-direction: row;
}

.articledetails a:hover{
    /* width: 100%; */
    /* height: 100%; */
    display: block;
}
