/*COLOR Palette */
element{
    --colorOne: #48B2E7;
    --colorTwo: #ADD8E6;
    --colorThree: #F7E590;
    --colorFour: white;

}

body {
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

.app-container {
    width: 100%;
}
/* -------------------------------------- TOP-BAR-------------------------- */
/* WRAPPER OF TOP-BAR(BOOKIT/METRICS/CREATE-BOOKMARK) */
.top-section--wrapper {
    background-color: #ADD8E6;
    padding: 5px;
    margin: 5px;
}
/* TOP-BAR WITH BOOKIT/METRICS/CREATE-BOOKMARK */
.top_navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    flex-direction: row;
    /* margin: ; */
}

.top-navbar-links {
    color: white;
    border: 3px solid #48B2E7;
    background-color: #48B2E7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* ------------------------------- TAGs-FILTERS && USER ARTICLES ----------- */
/* CONTAINER WITH USER ARTICLES AND TAG FILTERS */
.main-user-article--container {
    margin: 5px;
    display: flex;
}
/* LEFT SIDE OF USER ARTICLE CONTAINER WHICH IS TAG FILTER SIDE-BAR */
.left-side--user-article-container {
    flex: 20%;
}
/* RIGHT SIDE OF USER ARTICLE CONTAINER WHICH IS ALL USER ARTICLES */
.right-side--user-article-container {
    flex: 77%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

/* ----------------------------------- TAG SELECTOR ---------------------- */
.tag-filter--form {
    /* width: 100%; */
    border: 2px solid #fdfce5;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-left: 5px;
}
.tag-check {
    flex: 50%;
    border: 2px solid #fdfce5;
}

/* --------------------------------------USER ARTICLES ----------------*/
.user-articles--username-div {
    margin: 5px;
    padding-left: 5px;
}
.display-articles--container {
    border: 2px solid #fdfce5;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.user-articles--display-view {
    border: 2px solid black;
    color: black;
    width: 120px;
    margin: 5px;
}

.user-articles--share-list {
    border: 2px solid black;
    color: black;
    width: 120px;
    margin: 5px;
}

/* --------------------------------------SINGLE ARTICLE ----------------*/
.singleContainer {
    border: 2px solid #f9f3df;
    background-color: #f9f3df;
    border-radius: 5px;

    display: inline-block;
    /* flex: 1;
    width: 10%; */
    margin: 5px;
    /* height: 75px; */
    padding: 10px;
}
.title-name--single-article {
    background-color: #f4d19b;
    border-radius: 5px;
}

/* ------------------------------ BTNS ------------------------------------- */
.tabViewButton,
.shareButton {
    background-color: #f4d19b;
    /* border-radius: 1px; */
}

/* ----------------------------------LOGOUT -------------------------------- */
.log-out-btn-container {
    display: flex;
    justify-content: center;
    align-self: center;
}
.log-out-btn {
    /* border: 2px solid black; */
    background-color: #f9f3df;
    border-radius: 5px;
    height: 40px;
}

/* ----------------------------------DATAVIZ -------------------------------- */

.dvSectionHeader{
    display: flex;
    background-color: #ADD8E6;
    height: 70px;
    margin: 0;
    padding: 10;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.dataviz-box {
    display: flex;
    border: 1px solid black;
    max-width: 80%;
    flex-direction: column;
    min-width: 500px;
    margin: 10px;
    border-radius: 10px;
}

.dataviz-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    min-width: 300px;
    max-width: 95%
}

tbody{
    display:block;
    overflow:auto;
    height:200px;
    max-width: 800px;
    min-width: 200px;
    border: 1px solid black;
}

tr{
    display:block;
    text-align: left;
    border: 1px solid black;
    }
.highlight{
    color: #48B2E7;
}

 .articlerow{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.articledetails{
    display: flex;
    flex-direction: row;
}

.articledetails a:hover{
    /* width: 100%; */
    /* height: 100%; */
    display: block;
}
